@media (min-width:1025px) {

  html {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      scroll-behavior: smooth;
  }
  
  body {
    min-height: 100vh;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
  }
  

  
  header {
    display: flex;
    align-items: center;
    background-color: #659FA3;
    stroke: rgba(112, 112, 112, 1);
    height: 20vh;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    }
    
    #logo0 {
    display: flex;
    align-items: center;
    margin-right: 1vw;
    margin-left: 70px;
    flex: 1;
    }
    
    #logo0 img {
    position: relative;
    width: 40px;
    }
    
    #logo {
    display: flex;
    align-items: left;
    font-family: 'Great Day bold Personal Use';
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;
    color: rgb(222, 222, 222);
    letter-spacing: 2px;
    text-decoration: none;
    flex-shrink: 0;
    flex: 1; 
    flex-direction: column;
    height: 50px;
    margin-left: 20px;
    width: 50px;
    }
    
    #logo a {
    color: inherit;
    text-decoration: none;
    }
  
    #slogan {
    width: 250px;
    height: 5px;
    font-family: 'Agrandir';
    font-style: normal;
    font-weight: normal;
    font-size: 0.8em;
    color: rgb(222, 222, 222);
    letter-spacing: 0.8px;
    margin-left: 5px;
    flex-shrink: 0;
    flex: 1; 
    }
  /* Styling for the hamburger icon */
  .hamburger {
    display: none;	
  }

  .nav-menu {
    height: 30%;
    width: 80%;
    position: absolute;
    left: 20%;
    top: 0;
  }

  /* Styling for the menu */
  .menu-box {
    top: 0;
    right: 0;
    float: right;
    width: 60%;
    height: 20vh;
    position: relative;
    display: flex;
    justify-items: center;
    align-items: center;
  }

  /* Styling for the menu buttons */
  .menu_buttons {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .menu_buttons li {
    display: inline-block;
    margin-left: 5vw;
    wrap: nowrap;
  }

  .menu_buttons li a {
    padding: 15px;
    color: rgb(222, 222, 222);
    text-decoration: none;
    font-family: "Agrandir";
    font-size: 1.2em;
  }
  
  section.service {
      height: 180vh;
      background-color: #393939;
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: center;
      position: relative;
      margin: 0;
      padding: 0;
  }

  #arrowback {
    width: 2vh;
    position: relative;
    top: -62vh;
    left: 5%;
    display: inline-block; /* Add this line */
    overflow: hidden; /* Add this line */
  }
  
  #arrowback img {
    max-width: 100%; /* Change 'width' to 'max-width' */
    height: auto;
    display: block;
  }

  section.service h2 {
    font-family: 'Canela';
    width: 80%;
    font-size: 2em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(194, 194, 194);
    top: 5vh;
    text-align: center;
    line-height: 5vh;
  }

  #retiropic {
    width: 35vw;
    margin: 0 auto;
    top: 20vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 2);
}

  p#serviceText {
      width: 70vw;
      left: 20vw;
      position: absolute;
      top: 75vh;
      font-size: 1.2em;
      font-family: 'Agrandir';
      color: rgb(194, 194, 194);
      line-height: 5.5vh;
  }

  section.service .btn{
    width: 100px;
    height: 25px;
    border-radius: 40px;
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-family: "Agrandir";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5vh;
    padding: 20px 30px;
  }

  #icon-description {
      top: 60vh;
      position: relative;
      height: 32vh;
      display: flex;
      align-items: top;
      justify-content: space-evenly;
      flex-wrap: wrap;
      color: rgb(194, 194, 194);
    }
    
    .icon-container {
      flex: 0 0 auto;
      height: 30vh;
      width: 20vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    
    .icon-container img {
      width: 5vh;
      height: 5vh;
      font-size: 10vh;
      text-shadow: 0 0 5px #000;
      position: relative;
    }

    .icon-container p {
      font-family: 'Agrandir';
      text-align: center;
      justify-content: center;
    }
    

    section.contacto {
			margin: 0;
			overflow: visible;
			width: 100vw;
			height: 100vh;
			background-color: #71B9BE;
			display: flex;
			flex-direction: column;
		}
	
		#title_5 {
			position: relative;
			font-family: 'Canela';
			color: rgba(0,0,0,1);
			width: 6vw;
			height: 15vh;
      font-size: 2em;
			padding-top: 3vh;
			text-align: left;
      margin: 0;
			margin-left: 10vw;
			border-top: 3px solid black;
			top: 5vh;
		}

		#direccion {
			position: relative;
			display: flex;
			flex-direction: column;
			margin: 0 auto;
			width: 30vw;
			height: 30vh;
			padding-top: 3vh;
			text-align: left;
			margin-left: 10vw;
			top: 15vh;
		}

		#direccion p {
			position: relative;
			font-family: "Agrandir";
			
		}

		#direc-2 {
			margin-top: 5vh;
		}
	
		.form-container {
			width: 50%;
			position: relative;
			left: 50%;
			bottom: 25vh;
		}

		form {
			position: relative;
			top: 5vh;
			width: 100%;
			height: 100%;
		}
	
		.form-group {
			margin-bottom: 5vh;
			display: flex;
			flex-direction: column;
			align-items: center;
			
		}
		  
		input[type="text"], input[type="email"], input[type="phone"], textarea {
			position: relative;
			border-radius: 30px;
			border: 1px solid black;
			width: 80%;
			padding: 10px;
			font-size: 16px;
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
			font-family: "Agrandir";
			background-color: transparent;
			resize: none;
		}
		  
		input::placeholder {
			font-family: "Agrandir";
			color: #000000;
			text-indent: 1vw;
		  }
	
		textarea::placeholder {
			font-family: "Agrandir";
			color: #000000;;
			text-indent: 1vw;
		}
		  
		button[type="submit"] {
			background-color: #000;
			color: #fff;
			border: none;
			border-radius: 30px;
			padding: 10px 20px;
			cursor: pointer;
			width: 40vw;
			right: 5vw;
			position: absolute;
			margin-top: 10vh;
			z-index:2;
			font-family: "Agrandir";
		}
		  
		button[type="submit"]:hover {
			background-color: #424141e9;
			
		}
	
		  .social-media {
			display: flex;
			justify-content: left;
			align-items: center;
			position: relative;
			bottom: 15vh;
			height: 5vh;
			width: 20%;
			margin-left: 10vw;
		  }
		  
		  .social-media a {
			margin-right: 40px;
			color: #333;
			font-size: 24px;
			width: 3vh;
			height: 3vh;
		  }
	
		  .social-media a:hover {
			color: #4267b2; /* change the color on hover */
		  }
	
		  footer {
			display: flex;
			justify-content: start;
			align-items: center;
			margin-left: 10vw;
			height: 2vh;
			width: 15%;
			position: relative;
			bottom: 10vh;
		  }
	
		  #dev span {
			position: absolute;
			transition: transform 0.5s ease;
			opacity: 1;
			color: #000;
			font-family: 'Agrandir';
		  }
	
		  #dev {
			position: relative;
			cursor: pointer;
			width: 40px;
			height: 20px;
		  }
		  
		  #dev #dev_text {
			opacity: 0;
			font-family: 'Agrandir';
			width: 200px;
		  }
		  
		  #dev:hover #dev_text {
			transform: translateX(45%);
			opacity: 1;
			transition: opacity 3s ease, transform 0.8s ease;
		  }

		  #dev:not(:hover) #dev_text {
			transform: translateX(-45%);
			opacity: 0;
			transition: opacity 0.3s ease, transform 0.6s ease;
		}
		  
		  #dev:hover p {
			opacity: 0;
			transition: opacity 0.5s ease, transform 0.5s ease;
			transform: translateX(-100%);
		  }
}

@media (min-width:768px) and (max-width:1024px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
min-height: 100vh;
height: 100vh;
margin: 0;
overflow-x: hidden;
}



header {
display: flex;
align-items: center;
background-color: #659FA3;
stroke: rgba(112, 112, 112, 1);
height: 20vh;
width: 100%;
overflow: hidden;
margin: 0 auto;
}

#logo0 {
display: flex;
align-items: center;
margin-right: 1vw;
margin-left: 20px;
flex: 1;
}

#logo0 img {
position: relative;
width: 40px;
}

#logo {
display: flex;
align-items: left;
font-family: 'Great Day bold Personal Use';
font-style: normal;
font-weight: normal;
font-size: 1.5em;
color: rgb(222, 222, 222);
letter-spacing: 2px;
text-decoration: none;
flex-shrink: 0;
flex: 1; 
flex-direction: column;
height: 50px;
margin-left: 20px;
width: 50px;
}

#logo a {
color: inherit;
text-decoration: none;
}

#slogan {
width: 250px;
height: 5px;
font-family: 'Agrandir';
font-style: normal;
font-weight: normal;
font-size: 0.8em;
color: rgb(222, 222, 222);
letter-spacing: 0.8px;
margin-left: 5px;
flex-shrink: 0;
flex: 1; 
}
/* Styling for the hamburger icon */
.hamburger {
  display: none;	
}

.nav-menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

/* Styling for the menu */
.menu-box {
  position: relative;
  top: 0;
  float: right;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: left;
  flex-wrap: nowrap;
}

/* Styling for the menu buttons */
.menu_buttons {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu_buttons li {
  display: inline-block;
}

.menu_buttons li a {
  padding: 15px;
  color: rgb(222, 222, 222);
  text-decoration: none;
  font-family: "Agrandir";
}

section.service {
  height: 160vh;
  flex: 1;
  background-color: #393939;
  position: relative
}

#arrowback {
  width: 2vh;
  position: relative;
  top: 8vh;
  left: 5%;
  display: inline-block; /* Add this line */
  overflow: hidden; /* Add this line */
}

#arrowback img {
  max-width: 100%; /* Change 'width' to 'max-width' */
  height: auto;
  display: block;
}

section.service h2 {
  font-family: 'Canela';
  width: 80%;
  font-size: 1.5em;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(194, 194, 194);
  top: 5vh;
  text-align: center;
  line-height: 5vh;
}

#retiropic {
width: 35vw;
margin: 0 auto;
top: 16vh;
position: absolute;
left: 50%;
transform: translateX(-50%);
box-shadow: 0 0 10px rgba(0, 0, 0, 2);
}

p#serviceText {
  width: 70vw;
  left: 15vw;
  position: absolute;
  top: 48vh;
  font-size: 1.2em;
  font-family: 'Agrandir';
  color: rgb(194, 194, 194);
  line-height: 5.5vh;
}

section.service .btn{
width: 100px;
height: 25px;
border-radius: 40px;
background-color: black;
color: white;
text-align: center;
text-decoration: none;
cursor: pointer;
font-family: "Agrandir";
position: absolute;
left: 50%;
transform: translateX(-50%);
bottom: 5vh;
padding: 20px 30px;
}

#icon-description {
top: 110vh;
position: relative;
height: 32vh;
display: flex;
align-items: top;
justify-content: space-evenly;
flex-wrap: wrap;
color: rgb(194, 194, 194);
}

.icon-container {
flex: 0 0 auto;
height: 30vh;
width: 20vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.icon-container img {
width: 5vh;
height: 5vh;
font-size: 10vh;

text-shadow: 0 0 5px #000;
position: relative;
}

.icon-container p {
font-family: 'Agrandir';
text-align: center;
justify-content: center;
}

  
  
section.contacto {
  margin: 0;
  overflow: visible;
  width: 100vw;
  height: 100vh;
  background-color: #71B9BE;
}

#title_5 {
  position: relative;
  font-family: 'Canela';
  color: rgba(0,0,0,1);
  width: 6vw;
  height: 15vh;
  padding-top: 3vh;
  text-align: left;
  margin-left: 10vw;
  border-top: 3px solid black;
  top: 5vh;
}

#direccion {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 30vw;
  height: 30vh;
  padding-top: 3vh;
  text-align: left;
  margin-left: 10vw;
  top: 15vh;
}

#direccion p {
  position: relative;
  font-family: "Agrandir";
  
}

#direc-2 {
  margin-top: 5vh;
}

.form-container {
  width: 50%;
  position: relative;
  left: 50%;
  bottom: 30vh;
}

form {
  position: relative;
  top: 5vh;
  width: 100%;
  height: 100%;
}

.form-group {
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
  
input[type="text"], input[type="email"], input[type="phone"], textarea {
  position: relative;
  border-radius: 30px;
  border: 1px solid black;
  width: 80%;
  padding: 10px;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-family: "Agrandir";
  background-color: transparent;
  resize: none;
}
  
input::placeholder {
  font-family: "Agrandir";
  color: #000000;
  text-indent: 1vw;
  }

textarea::placeholder {
  font-family: "Agrandir";
  color: #000000;;
  text-indent: 1vw;
}
  
button[type="submit"] {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  width: 40vw;
  right: 5vw;
  position: absolute;
  z-index:2;
  font-family: "Agrandir";
}
  
button[type="submit"]:hover {
  background-color: #424141e9;
  
}

  .social-media {
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  bottom: 20vh;
  height: 5vh;
  width: 20%;
  margin-left: 10vw;
  }
  
  .social-media a {
  margin-right: 40px;
  color: #333;
  font-size: 24px;
  width: 3vh;
  height: 3vh;
  }

  .social-media a:hover {
  color: #4267b2; /* change the color on hover */
  }

  footer {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 10vw;
  height: 2vh;
  width: 15%;
  position: relative;
  bottom: 20vh;
  }

  #dev span {
  position: absolute;
  transition: transform 0.5s ease;
  opacity: 1;
  color: #000;
  font-family: 'Agrandir';
  }

  #dev {
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 20px;
  }
  
  #dev #dev_text {
  opacity: 0;
  font-family: 'Agrandir';
  width: 200px;
  }
  
  #dev:hover #dev_text {
  transform: translateX(45%);
  opacity: 1;
  transition: opacity 3s ease, transform 0.8s ease;
  }

  #dev:not(:hover) #dev_text {
  transform: translateX(-45%);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.6s ease;
}
  
  #dev:hover p {
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transform: translateX(-100%);
  }
}

@media (max-width:768px)  { /* smartphones, iPhone, portrait 480x320 phones */ 

html {
height: 100%;
width: 100%;
margin: 0;
padding: 0;
scroll-behavior: smooth;
}

body {
min-height: 100vh;
height: 100vh;
margin: 0;
overflow-x: hidden;
}



header {
display: flex;
align-items: center;
background-color: #659FA3;
stroke: rgba(112, 112, 112, 1);
height: 20vh;
width: 100%;
overflow: hidden;
margin: 0 auto;
}

#logo0 {
display: flex;
align-items: center;
margin-right: 1vw;
margin-left: 20px;
flex: 1;
}

#logo0 img {
position: relative;
width: 40px;
}

#logo {
display: flex;
align-items: left;
font-family: 'Great Day bold Personal Use';
font-style: normal;
font-weight: normal;
font-size: 1em;
color: rgb(222, 222, 222);
letter-spacing: 2px;
text-decoration: none;
flex-shrink: 0;
flex: 1; 
flex-direction: column;
height: 50px;
margin-left: 20px;
width: 300px;
}

#logo a {
color: inherit;
text-decoration: none;
}

#slogan {
width: 4000px;
height: 5px;
font-family: 'Agrandir';
font-style: normal;
font-weight: normal;
font-size: 0.8em;
color: rgb(222, 222, 222);
letter-spacing: 0.7px;
margin-left: 5px;
flex-shrink: 0;
flex: 1; 
}

/* Styling for the hamburger icon */
.hamburger {
  width: 4vh;
  height: 6vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  right: 4vh;
  top: 7vh;
  z-index: 2;
  }
  
  .line {
  width: 100%;
  height: 2px;
  background-color: rgb(222, 222, 222);
  transition: transform 0.3s ease;
  margin-bottom: 8px;
  }
  
  .line.active:nth-child(2) {
  transform: scale(0);
  background-color: #fff;
  }
  
  .line.active:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
  background-color: #fff;
  }
  
  .line.active:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
  background-color: #fff;
  }
  
.nav-menu {
  height: 100%;
  width: 100%
}

/* Styling for the menu */
.nav-menu .menu-box {
position: fixed;
top: -10vh;
width: 100%;
height: 100vh;
opacity: 0;
left: 0;
background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5));
z-index: 0;
transform: translateY(-20px);
transition: all 0.8s ease;
pointer-events: none; 
}

.nav-menu .menu-box.slide-in {
opacity: 1;
transform: translateY(10vh);
z-index: 1;
transition: all 0.8s ease;
max-width: 100%;
pointer-events: auto; 
left: 0;
}

/* Styling for the menu buttons */
.menu_buttons {
  margin: 0;
  padding: 0;
  list-style: none;
  top: 10vh;
  width: 50%;
  height: 80%;
}

.menu_buttons li {
  display: list-item;
  margin-top: 10vh;
  margin-left: 5vh;
}

.menu_buttons li a {
  padding: 15px;
  color: #000;
  text-decoration: none;
  font-family: "Agrandir";
  color: rgb(222, 222, 222);
}

section.service {
  height: 220vh;
  flex: 1;
  background-color: #393939;
  position: relative;
  padding-top: 10px;
}

#arrowback {
  width: 2vh;
  position: relative;
  top: -58vh;
  left: 5%;
  display: inline-block; /* Add this line */
  overflow: hidden; /* Add this line */
}

#arrowback img {
  max-width: 100%; /* Change 'width' to 'max-width' */
  height: auto;
  display: block;
}

section.service h2 {
  font-family: 'Canela';
  width: 80%;
  font-size: 2em;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(194, 194, 194);
  top: 2vh;
  text-align: center;
  line-height: 5vh;
}

#retiropic {
  width: 50vh;
  position: relative;
  margin-top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 100%;
}


p#serviceText {
  width: 70vw;
  position: relative;
  font-size: calc(2vw * 1.5);
  white-space: normal;
  font-family: 'Agrandir';
  color: rgb(194, 194, 194);
  line-height: 5.5vh;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30vh;
  top: -300px;
}

section.service .btn {
  width: 20vw;
  height: 8vw;
  border-radius: 40px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-family: "Agrandir";
  font-size: 2vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#icon-description {
position: relative;
height: 32vh;
display: flex;
align-items: top;
justify-content: space-evenly;
flex-wrap: no-wrap;
color: rgb(194, 194, 194);
top: -200px;
}

.icon-container {
flex: 0 0 auto;
height: 30vh;
width: 20vw;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.icon-container img {
width: 8vw;
height: 5vh;
font-size: 10vh;
text-shadow: 0 0 5px #000;
position: relative;
}

.icon-container h3 {
font-size: 2.5vw;
}

.icon-container p {
font-family: 'Agrandir';
text-align: center;
justify-content: center;
font-size: 3vw;
flex-wrap: nowrap;
margin-top: 3vh;
}

  
  
section.contacto {
  margin: 0;
  overflow: visible;
  width: 100vw;
  height: 100vh;
  background-color: #71B9BE;
}

#title_5 {
  position: absolute;
  font-family: 'Canela';
  color: rgba(0,0,0,1);
  width: 15vw;
  height: 15vh;
  padding-top: 3vh;
  text-align: left;
  margin-left: 5vw;
  border-top: 3px solid black;


}

form {
  position: relative;
  top: 20vh;
}

.form-group {
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
  
label {
  position: absolute;
  top: 10px;
  left: 10px;
  pointer-events: none;
  transition: 0.2s ease all;
}
  
input[type="text"], input[type="email"], textarea {
  position: relative;
  border-radius: 30px;
  border: 1px solid black;
  width: 90%;
  padding: 10px;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-family: 'Agrandir', sans-serif;
  background-color: transparent;
}
  
input::placeholder {
  font-family: "Agrandir";
  color: #999;
  text-indent: 5vw;
  }

textarea::placeholder {
  font-family: "Agrandir";
  color: #999;
  text-indent: 5vw;
}
  
button[type="submit"] {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  width: 40vw;
  right: 10vw;
  position: absolute;
  font-family: "Agrandir";
}
  
button[type="submit"]:hover {
  background-color: #424141e9;
  
}

  .social-media {
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  bottom: 4vh;
  width: 30%;
  margin-left: 5vw;
  top: 30vh;
  }
  
  .social-media a {
  margin: 0 10px;
  color: #333;
  font-size: 24px;
  width: 3vh;
  height: 3vh;
  }

  .icon-facebook, 
  
  .social-media a:hover {
  color: #4267b2; /* change the color on hover */
  }

  p#dev {
  white-space: nowrap;
  font-family: "Agrandir";
  color: rgba(0,0,0,1);
  text-align: left;
  margin-left: 6vw;
  top: 38vh;
  position: relative;
  }
  

}

@media (max-width: 480px) {
  section.service {
    height: 180vh;
    flex: 1;
    background-color: #393939;
    position: relative
  }

  #arrowback {
    width: 2vh;
    position: relative;
    top: -30vh;
    left: 5%;
    display: inline-block; /* Add this line */
    overflow: hidden; /* Add this line */
  }
  
  #arrowback img {
    max-width: 100%; /* Change 'width' to 'max-width' */
    height: auto;
    display: block;
  }

  section.service h2 {
    font-family: 'Canela';
    width: 80%;
    font-size: 1em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(194, 194, 194);
    
    text-align: center;
    line-height: 5vh;
  }

  #retiropic {
    width: 30vh;
    position: relative;
    margin-top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 100%;
  }

  p#serviceText {
    width: 70vw;
    position: relative;
    font-size: calc(2vw * 1.5);
    white-space: normal;
    font-family: 'Agrandir';
    color: rgb(194, 194, 194);
    line-height: 5.5vh;
    left: 55%;
    transform: translateX(-50%);
    margin-top: 15vh;
    top: -100px;
  }

  section.service .btn {
    width: 20vw;
    height: 8vw;
    border-radius: 40px;
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-family: "Agrandir";
    font-size: 2vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #icon-description {
    margin-top: 20vh;
    position: relative;
    height: 32vh;
    display: flex;
    align-items: top;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: rgb(194, 194, 194);
  }
  }
